$primary: #3F51B5;
$white: #fff;

body {
  font-family: "Roboto";
  color: #2196F3;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  @extend .row;
  background-color: $primary;
  height: 4em;
  box-shadow: 0px 0px 10px #bdbdbd;
  padding: 0 4em;

  & a {
    color: $white;
    text-decoration: none;
    margin: 1em;
    font-size: 1.5em;

    &:hover {
      text-decoration: underline;
    }
  }
}
